body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0px;

    
}
h1{
    font-size: 40px;
}
p{
    font-size: 40px;
}
span{
    color: darkmagenta;
}
.flexible-container{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}
.link-button{
    background-color: darkorange;
    color: yellow;
    border-radius: 10px;
    padding-top: 10%%;
    background-image: linear-gradient(orange green);
    
}


.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding top: 10%;
    
}
.half-width img{
    width: 50%;
    
}